:host {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    flex: 1;

    .container {
        display: flex;
        flex: 1;
        flex-direction: row;

        .books-wrapper {
            display: flex;
            flex: 1;
            flex-direction: column;
        }

        .book-image-wrapper {
            display: flex;
            flex: 1;
            place-content: center;
        }
    }
}